body{
    text-align: center;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 5px solid black;
    margin: 1.5rem;
}

.red{
    background-color: #d95980;
}

.yellow{
    background-color: #f99b45;
}

.green{
    background-color: #63acc0;
}

.purple{
    background-color: #819ff9;
}

.flash{
    background-color: #fff;
}

.userflash{
    background-color: green;
}

#startButton {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: 4px solid black; /* Blue border */
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  #startButton:hover {
    background-color: #0056b3; /* Darker blue on hover */
    border-color: black; /* Darker blue border on hover */
  }
  
  #startButton:active {
    background-color: #004080; /* Dark blue when clicked */
    border-color: black; /* Dark blue border when clicked */
  }
  